
@{
    ViewBag.Title = "Index";
}

<form action="/Authentication/Test" method="post">
    Ten: <input type="text" name="username"/> <br/>
    MK: <input type="password" name="password" /> <br />
    <input type="submit" value="Login" /> <br />
</form>

