

<form action="Login" method="post">
    Username: <input type="text" name="username"/><br/>
    Password: <input type="password" name="password" /><br />
   <input type="submit" value="Dang nhap" /><br />
</form>



